html, body {
  margin: 0px !important;
  width: 100%;
  min-height: 100%;
}

html {
  background-color: black;
}

body {
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 12vw !important;
  }

  main.o-main p {
    margin: 0 10vw 0 10vw !important;
  }
}

.language-list {
  opacity: .5;
  position: absolute;
  top: 0;
  right: 1.5vw;
  max-width: 20vw;
}

.language-list .o-nav__link {
  padding: .5rem;
}

main .block.introduction {
  margin-top: 10vh;
  min-height: calc(100vh - 30vh);
}

main .column.right {
  margin: 15px;
  text-align: left;
}

main .column.right h1 {
  margin: 0px;
}

main.o-main {
  text-align: center;
}

main.o-main h2 {
  font-size: 3.5rem;
}

main.o-main p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0 15vw 0 15vw;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

footer p {
  margin: auto;
}

.o-header {
  width: 95%;
  max-width: 700px;
  padding: 1rem;
  margin: auto;
  /* margin: 1rem auto 0 auto; */
  /* border-bottom: 1px solid #ddd; */
}

.o-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background-color: transparent;
  width: 100%;
  padding: 0px;
}

.o-nav__item {
  width: 100%;
  margin: 0.25rem;
  max-width: 150px;
}

.o-nav__link {
  text-decoration: none;
  padding: 0.75rem 0;
  border-radius: 4px;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, .75);
  transition: 0.3s ease background-color, 0.3s ease color;
}

.o-nav__item .active, .o-nav__link:hover, .o-nav__link--active {
  background-color: #fff;
  color: #000;
}
