<header class="o-header">
    <nav class="o-nav">
        <ul class="o-nav__list">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
            <li class="o-nav__item">
                <a class="o-nav__link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}">
                    {{ .Name }}
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
    <div class="language-list">
        {{ if .Site.IsMultiLingual }}
            <ul class="o-nav__list">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
                {{ $translation := .}}
                {{ range $siteLanguages }}
                    {{ if eq $translation.Lang .Lang }}
                        {{ $selected := false }}
                        {{ if eq $pageLang .Lang}}
                            <li class="o-nav__item">
                                <a class="o-nav__link active" href="{{ $translation.URL }}">
                                    {{ .LanguageName }}
                                </a>
                            </li>
                        {{ else }}
                            <li class="o-nav__item">
                                <a class="o-nav__link" href="{{ $translation.URL }}">
                                    {{ .LanguageName }}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            </ul>
        {{ end }}
    </div>
</header>