{{ define "main" }}

<main>
    <div class="block introduction">
        <div class="column left">
            <picture>
                <source srcset="/images/portrait.webp" type="image/webp">
                <img src="/images/portrait.jpg" width="100%" height="100%" class="portrait" alt="Portrait" />
            </picture>
        </div>
        <div class="column right">
            <h1>{{ .Site.Author.name }}</h1>
            <h2>{{ .Site.Author.description }}</h2>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>
</main>

{{ end }}
