{{ define "main" }}
<main class="o-main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <h2>POS a TVY</h2>
    <p>Přesné názvy předmětů jsou <i>Počítačové sítě</i> a <i>Technické vybavení</i>, ty tvoří jednu ze tří maturitních
        zkoušek ve školní části.</p>
    <div class="c-bloglist">
        {{ $pages := where .Site.RegularPages "Dir" "maturita/pos_and_tvy/" }}
        {{ range $pages }}
        <div class="c-bloglist__item">
            <h3 class="c-bloglist__heading">
                {{ .Title }}
            </h3>
            <div class="c-bloglist__summary">
                {{ .Params.fullname }}
            </div>
            <a href="{{ .RelPermalink }}" class="c-bloglist__link">Studovat otázku →</a>
        </div>
        {{ end }}
    </div>
</main>
{{ end }}